<% layout('layouts/template') %>

        <div class="container">
            <div class="image-box">
                <img src="<%= product.image %>" alt="Produuct image">
            </div>

            <div class="details">
                <h2>
                    <%= product.name %>
                </h2>
                <p class="price">&#8377;<%= product.price.toLocaleString("en-IN") %>
                </p>
                <p class="rating">⭐ 4.4 / 5</p>
                <p class="description">
                    <%= product.description %>
                </p>
                <ul>
                    <li>Available Sizes: <%= product.availableSizes %>
                    </li>
                    <li>Colors: <%= product.colors %>
                    </li>
                    <li>Material: <%= product.category %>
                    </li>
                </ul>
            </div>
        </div>
        <script>
            // Make product data available to JS
            const productData = {
                name: "<%= product.name %>",
                price: '<%= product.price %>',
                image: "<%= product.image %>",
                description: "<%= product.description %>",
                id: "<%= product._id %>"
            };
        </script>